{% extends 'layout_intro.html' %}
<meta charset="UTF-8">
{% block content %}
<html>
				<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
						<article class="box post">
							<header>
								<br><br>
								<h2 style='text-align:center; font-size:70px;'>오시는 길</h2>
								<br><br>
							<section>
							</header><img style = 'display : block; margin : auto;'  src="images/PPAP_road.jpg">
							
							<pre>
					<h1 style= 'font-size:30px;'>주소 : 대전광역시 중구 중앙로 76 영민빌딩 4층</h1>
					<h1 style= 'font-size:30px;'>대표번호 : 042-222-8202</h1>
							</pre>
							</section>
						</article>
					</div>
				</section>
</html>
{% endblock %}