<!DOCTYPE html>
<html>
<head>
<title>프리미엄 주차장, PPAP</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/jquery-ui.css" />
<script src="js/jquery-3.5.1.js"></script>
<script src="js/jquery-ui.js"></script>

<link rel="stylesheet" href="bootstrap/4.6.0/css/bootstrap.min.css">
<script src="jquery/jquery-3.6.0.min.js"></script>
<script src="popper.js/2.9.2/umd/popper.min.js"></script>
<script src="bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script>
</script>

<style>
h2{
	text-align: center;
}
</style>

</head>

<body class="no-sidebar is-preload">
<div id="page-wrapper">

<!-- Header -->
		<section id="header">

			<!-- Logo -->
				<h2 style="font-size : 4.0em;">프리미엄 주차장, P P A P</h2>

		</section>

		{% block content %}{% endblock %}
		
		<br/>
		<br/>
		<!-- Footer -->
		<section id="footer" style="padding: 0px;">
			<div class="container">
				<div class="row">
					<div class="col-12" style="padding: 0px;">

						<!-- Copyright -->
							<div id="copyright">
								<ul class="links">
									<li>&copy; all right reserved by aimaker.kr</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
								</ul>
							</div>

					</div>
				</div>
			</div>
		</section>
		<!-- ---------------------------- -->
</div>
<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery-3.5.1.js"></script>
</body>
</html>
